body{
    margin:0;
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
  background-attachment: fixed;
}

.container{
    display: flex;
    justify-content: center;
    
}

.border{

margin-bottom: 10px;
position: absolute;
    z-index: -1;
    border-radius: 70% 30% 74% 26% / 26% 76% 24% 74% ;
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
    height: 500;
    margin-top: -60px;

   

}



.pragraph1{
    width: 599px;
    height: 232px;
    text-align: center;
    margin-top: 55px;
    color: aliceblue;


}

.container2{
    display: flex;
    justify-content: center;
    margin: 0px;
}
.image{width: 300px;
    height: 300px;
    margin-top: 80px;
    background-image: url("../image/background.jpg");
background-position: center;
background-size: cover;
border-radius: 50px;
}




svg{margin:0px;
}

.custom-shape-divider-bottom-1629951036 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1629951036 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 158px;
}

.custom-shape-divider-bottom-1629951036 .shape-fill {
    fill: #216AC0;
}
.section2{ margin-top: 380px;}


.section3{
    margin-top: 150px;

}
.border3{

    margin-bottom: 10px;
    position: absolute;
        z-index: -1;
        border-radius: 71% 29% 39% 61% / 76% 75% 25% 24% ;
        background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
        margin-top: -60px;
    
    
       
    
    }
    .pragraph2{
        width: 480px;
        text-align: center;
        margin-top: 55px;
        color: aliceblue;
    
    
    }